.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;
  font-weight: 700;
  &__official {
    text-align: center;
    &-desc {
      font-size: 12px;
    }
    &-brand {
      font-size: 18px;
      margin-top: 7px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__phone {
    font-size: 18px;
    text-align: right;
    color: inherit;
  }
  &__button {
    max-width: 150px;
    width: 100%;
    padding: 5px 0 6px;
    font-size: 12px;
    margin-top: 1px;
  }
}
