body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  // font-weight: ... ;
  // font-size: ... px;
  // line-height: ... ;
  // font-family: ' ... ', sans-serif;
  // color: # ... ;
}

// h1, h2, h3, h4, h5, h6 {
//    font-weight: ... ;
//    line-height: ... ;
//    color: # ... ;

//    text-transform: uppercase;
// }

.container {
  // max-width: ... px;
  margin: 0 auto;
  padding: 0 15px;
}
